# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/
ENV/

# Build and distribution artifacts
build/
dist/
*.spec

# IDE and editor files
.vscode/
.idea/
*.swp
*~

# Temporary files
tempCodeRunnerFile.py

# Generated UI background
/assets/background_ui.png